<main class="container">
  <h1>Landlord's Super Mix Calculator</h1>
  <form [formGroup]="calculator" (ngSubmit)="onSubmit()" novalidate>
    <!-- Grid -->
    <div class="grid">
      <label for="type-selector">
        Type
        <select formControlName="type" id="type-selector">
          <option value="concrete">Concrete</option>
          <option value="mortar">Mortar</option>
          <option value="no-fines">No Fines</option>
        </select>
      </label>
      <!-- End Volume Field-->
      <!-- Volume Field -->
      <label for="volume"
        >Volume
        <input
          formControlName="volume"
          type="number"
          id="volume"
          name="volume"
          min="0"
          step="1"
          #volume
          (click)="volume.select()"
        />
      </label>
    </div>
    <!-- Button -->
    <!-- <button type="submit">Submit</button> -->
  </form>

  <div>
    <h3>
      Recipe for {{ result.volume }} L of prime {{ calculator.value.type }}
    </h3>
    <p>
      Water: {{ result.water }} L ({{ result.water / 25 }}
      {{ result.water / 25 !== 1 ? "buckets" : "bucket" }})
    </p>
    <p>
      Cement: {{ result.cement }} Kg ({{ result.cement / 25 }}
      {{ result.cement / 25 !== 1 ? "bags" : "bag" }})
    </p>
    <p>
      Aggregate: {{ result.aggregate }} Kg ({{ result.aggregate / 25 }}
      {{ result.aggregate / 25 !== 1 ? "bags" : "bag" }})
    </p>
    <p>
      Sand: {{ result.sand }} Kg ({{ result.sand / 25 }}
      {{ result.sand / 25 !== 1 ? "bags" : "bag" }})
    </p>
  </div>
</main>
